@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../public/hero.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

}

.services {
  background-image: url(../../public/bg-coffee-2.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.services__container {
  display: grid;
  grid-template-rows: repeat(1fr);
}

.services__item {
  width: 130px;
  height: 130px;
  border-radius: 100%;
}

.services__item--1 {
  background-image: url(../../public/te_helado.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services__item--2 {
  background-image: url(../../public/vaso_cocacola.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.services__item--3 {
  background-image: url(../../public/pizza.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services__item--4 {
  background-image: url(../../public/taza_cafe.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services__item--5 {
  background-image: url(../../public/bolsa_cafe.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recomendations__container {
  display: grid;
  grid-template-rows: 3;
}

.recomendations__title {
  align-self: center;
}

.learnMore {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../public/bg-coffee-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  .footer__container {
    .footer__section {
      .footer__ul>* {
        border: solid 1px white;
        border-top: none;
        border-bottom: none;
        border-right: none;
        padding-left: 15px;

        &:first-child {
          border: none;
        }
      }
    }
  }
}

@media (max-width: 1024px){
  .header{
    height: 90vh;
    position: absolute;
    .navbar{
      display: flex;
      flex-direction: column;

      ul{
        display: flex;
        flex-direction: column;
      }
    }
  }
  .navbar__status--true{
    top: 0;
    .button_open{
      display: none;
    }
  }
  
  .navbar__status--false{
    top: -1000px
  }

  .services{

    height: 500px;
    padding-bottom: 50px;
    .services__container{

      .services__title{
        width: 300px;
        text-align: center;
        margin-left: 0;
        margin: 0 auto;
      }

      ul{
      display: flex;
      flex-wrap: wrap;  
      justify-content: center;
      }
      
      
    }
  }
  
  .recomendations{

    .recomendations__container{
      .recomendations__title{
        text-align: center  ;
      }

      .recomendations__products{
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  .text__hero{
    font-size: 8vw;
  }

  .p__hero{
    font-size: 2vw;
  }

  .footer{
    .footer__container{

      .footer__info{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        gap: 50px;
      }

      .footer__section{
        .footer__ul{
          flex-direction: column;
        }
      }
    }
  }
}

@media (max-width: 943px){
  .recomendations{
    height: 850px;

    .recomendations__container{

      .learnMore__title{
        text-align: center;
      }
    }
  }
}

@media (max-width: 800px){
  .p__hero{
    font-size: 2.8vw;
  }

  .services{
    .services__container{
      ul{


      }
    }
  }
}


@media (max-width: 560px){
  .services{
    height: 650px;

    .services__container{
      ul{
        
      }
    }
  }

  .recomendations{

    height: 1500px;
    .recomendations__container{

      .recomendations__products{
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
@media (max-width: 502px){
  .services{
  
    height: 750px;
  }

  .learnMore{
    h2{
      text-align: center;
    }
  }
}

@media (max-width: 380px){

  .services{

    height: 1100px;
    .services__container{
      ul{
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 320px){
  
  .text__hero{
    font-size: 9vw;
  }

  .p__hero{
    font-size: 3vw;
  }

  .hero{
    padding-left: 0;
    display: flex;
    align-items: center;

    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .footer__info{
    flex-direction: column;
    align-content: center;
  }
}